{% extends 'autofarmapage/farmacia/farmacia_entregas_base.html' %}
{% load static %}

{% block datos_paciente %}
{% for receta in receta %}
<div class="col-xs-12 start-xs separacionInterior">
    <p class="labelListar">ID Receta</p>
    <p>{{ receta.id_receta }}</p>
    <h4>Paciente</h4>
    <p>{{ receta.rut_paciente.rut }}-{{ receta.rut_paciente.dv }}</p>
    <p>{{ receta.rut_paciente.nombres | capfirst }} {{receta.rut_paciente.apellido_paterno | capfirst }} {{receta.rut_paciente.apellido_materno | capfirst }}</p>
</div>
{% endfor %}
{% endblock %}

{% block entrega_medicamento %}

{% if entregadoAnterior == True %}
{% for detalle in recetaDetalle %}

<div class="col-xs-12 cardListar" id="{{ detalle.CODIGO_MED }}">
    <div class="row">
        <div class="col-xs-2 start-xs">
            <p class="labelListar">Código Medicamento:</p>
        </div>
        <div class="col-xs-10 start-xs">
            <p>{{ detalle.CODIGO_MED }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 start-xs">
            <p class="labelListar">Nombre Medicamento: </p>
        </div>
        <div class="col-xs-10 start-xs">
            <p>{{ detalle.NOMBRE_MEDICAMENTO | upper }}</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 start-xs">
            <p class="labelListar">Descripción Medicamento: </p>
        </div>
        <div class="col-xs-10 start-xs">
            <p>{{ detalle.DESCRIPCION_MED }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 start-xs">
            <p class="labelListar">Formato: </p>
        </div>
        <div class="col-xs-10 start-xs">
            <p>{{ detalle.PRESENTACION_MED }}</p>
        </div>
    </div>
    <div class="row separacionInterior">
        <div class="col-xs-2 start-xs">
            <p class="labelListar">Posología: </p>
        </div>
        <div class="col-xs-10 start-xs">
            <P>{{ detalle.POSOLOGIA }}</P>
        </div>
    </div>
    <div class="cardListar">
        <div class="row separacionInterior backgroundStock">
            <!--<div class="col-xs-3 center-xs">
                <p class="labelListar">Primera Entrega: </p>
            </div>-->
            <div class="col-xs-3 center-xs">
                <p class="labelListar">Última Entrega: </p>
            </div>
            <div class="col-xs-3 center-xs">
                <p class="labelListar">Próxima Entrega: </p>
            </div>
            <div class="col-xs-2 center-xs">
                <p class="labelListar">Stock Total: </p>
            </div>
            <div class="col-xs-2 center-xs">
                <p class="labelListar">Caducados: </p>
            </div>
            <div class="col-xs-2 center-xs">
                <p class="labelListar">Stock Disponible: </p>
            </div>
        </div>
        <div class="row backgroundStock">
            <!--<div class="col-xs-3 center-xs">
               <p>{{ detalle.PRIMERA_ENTREGA }}</p>
            </div>-->
            <div class="col-xs-3 center-xs">
                <p>{{ detalle.ULTIMA_ENTREGA }}</p>
            </div>
            <div class="col-xs-3 center-xs">
                <p>{{ detalle.PROX_ENTREGA }}</p>
            </div>
            <div class="col-xs-2 center-xs">
                <p>{{ detalle.TOTAL_STOCK }}</p>
            </div>
            <div class="col-xs-2 center-xs">
                <p>{{ detalle.CANTIDAD_CADUCADO }}</p>
            </div>
            <div class="col-xs-2 center-xs">
                <p>{{ detalle.STOCK_DISPONIBLE }}</p>
            </div>
        </div>
    </div>
    <div class="row separacionInterior">
        <div class="col-xs-2 start-xs">
            <p class="tratamientoPermanente">Tratamiento {{ detalle.TIPO_TRATAMIENTO }}</p>
        </div>
    </div>
    {% if detalle.PUEDE_ENTREGAR == 1 %}
    <div class="cardListar">
        <div class="row">
            <div class="col-xs-12 center-xs backgroundStock">
                <p>Entrega de Medicamento</p>
                <img src="{% static 'imagenes/arrow.svg' %}" alt="Flecha" height="15" width="15">
            </div>
        </div>
    </div>
    {% if detalle.STOCK_DISPONIBLE == 0 %}
    <div class="row">
        <div class="col-xs-12 center-xs">
            <p class="tratamientoPermanente">No hay Stock Disponible en Bodega</p>
        </div>
    </div>
    <!--FORMULARIO RESERVA-->
    <div class="row">
        <div class="col-xs-6 center-xs" > 
        <form method="POST">
            {% csrf_token %}
                <input type="hidden" name="codigo_medicamento_2_1" id="codigo_medicamento_2_1"
                    value="{{ detalle.CODIGO_MED }}">
                <!--<input type="hidden" name="id_receta" id="id_receta"
                    value="{{ receta.id_receta }}">-->
                <input type="number" id="cantidad_reserva_2_1" name="cantidad_reserva_2_1" min="1"
                    placeholder="Unidades a reservar" required>
            <button class="btn" type="submit" name="boton_reserva_1" value="2">RESERVAR</button>
        </form>
        </div>
    </div>
    {% else %}
    <!--FORMULARIO ENTREGA-->
    <div class="row" id="formulario_entrega">
        <div class="col-xs-12 center-xs">
            <form action="#" method="POST">
                {% csrf_token %}
                <input type="text" name="codigo_medicamento_1_1" id="codigo_medicamento_1_1"
                value="{{ detalle.CODIGO_MED }}">
                <!--<input type="hidden" name="id_receta" id="id_receta" 
                value="{{ receta.id_receta }}">-->
                <input type="number" id="cantidad_entrega_1_1" name="cantidad_entrega_1_1" min="1" required>
                <div class="row center-xs">
                    <button class="btn" type="submit" name="boton_entrega_1" value="1">ENTREGAR</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 center-xs">
            <p class="tratamientoPermanente">Este medicamento aún no debe ser entregado al paciente</p>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}
{% else %}
{% for detalle in recetaDetalle %}
    <div class="col-xs-12 cardListar">
        <div class="row">
            <div class="col-xs-2 start-xs">
                <p class="labelListar">Código Medicamento:</p>
            </div>
            <div class="col-xs-10 start-xs">
                <p>{{ detalle.CODIGO_MED }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 start-xs">
                <p class="labelListar">Nombre Medicamento: </p>
            </div>
            <div class="col-xs-10 start-xs">
                <p>{{ detalle.NOMBRE_MEDICAMENTO | upper }}</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-2 start-xs">
                <p class="labelListar">Descripción Medicamento: </p>
            </div>
            <div class="col-xs-10 start-xs">
                <p>{{ detalle.DESCRIPCION }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 start-xs">
                <p class="labelListar">Formato: </p>
            </div>
            <div class="col-xs-10 start-xs">
                <p>{{ detalle.TIPO_MEDICAMENTO }}</p>
            </div>
        </div>
        <div class="row separacionInterior">
            <div class="col-xs-2 start-xs">
                <p class="labelListar">Posología: </p>
            </div>
            <div class="col-xs-10 start-xs">
                <P>{{ detalle.POSOLOGIA }}</P>
            </div>
        </div>
        <div class="cardListar">
            <div class="row backgroundStock">
                <div class="col-xs-3 center-xs">
                    <p class="labelListar">Stock Total: </p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p class="labelListar">Caducados: </p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p class="labelListar">Reservados: </p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p class="labelListar">Stock Disponible: </p>
                </div>
            </div>
            <div class="row backgroundStock">
                <div class="col-xs-3 center-xs">
                    <p>{{ detalle.STOCK_TOTAL }}</p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p>{{ detalle.CADUCADOS }}</p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p>{{ detalle.RESERVADOS }}</p>
                </div>
                <div class="col-xs-3 center-xs">
                    <p>{{ detalle.STOCK_DISPONIBLE }}</p>
                </div>
            </div>
        </div>
        {% if detalle.ES_PERMANENTE == 0 %}
        <div class="row separacionInterior">
            <div class="col-xs-12 start-xs">
                <p class="tratamientoPermanente">Duración Tratamiento: {{ detalle.DURACION_TRATAMIENTO }} {{ detalle.NOMBRE_MED_TIEMPO }}</p>
            </div>
        </div>
        {% else %}
        <div class="row separacionInterior">
            <div class="col-xs-12 start-xs">
                <p class="tratamientoPermanente">Tratamiento {{ detalle.TIPO_TRATAMIENTO }}</p>
            </div>
        </div>
        {% endif %}
        {% if detalle.STOCK_DISPONIBLE == 0 %}
        <div class="row">
            <div class="col-xs-12 center-xs">
                <p class="tratamientoPermanente">No hay Stock Disponible en Bodega</p>
            </div>
        </div>
        {% if detalle.RESERVADO == 0 %}
        <!--FORMULARIO RESERVA-->
        <div class="row">
            <div class="col-xs-6 center-xs" > 
            <form action="#" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="codigo_medicamento_2_2" id="codigo_medicamento_2_2"
                        value="{{ detalle.CODIGO_MED }}">
                    <!--<input type="hidden" name="id_receta" id="id_receta"
                        value="{{ receta.id_receta }}">-->
                    <input type="number" id="cantidad_reserva_2_2" name="cantidad_reserva_2_2" min="1"
                        placeholder="Unidades a reservar" required>
                <button class="btn" type="submit" name="boton_reserva_2" value="2">RESERVAR</button>
            </form>
            </div>
            <div class="col-xs-6 center-xs">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="codigo_medicamento_3" 
                        value="{{ detalle.CODIGO_MED }}">
                    <!--<input type="hidden" name="id_receta" id="id_receta"
                        value="{{ receta.id_receta }}">-->
                    <button class="btn" type="submit" name="boton" value="3">Adquirir Particular</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12 center-xs">
                <h5>Existe una Reserva para este Medicamento.</h5>
            </div>
            <br>
        </div>
        {% endif %}
        {% else %}
        <div class="cardListar">
            <div class="row">
                <div class="col-xs-12 center-xs backgroundStock">
                    <p>Entrega de Medicamento</p>
                    <img src="{% static 'imagenes/arrow.svg' %}" alt="Flecha" height="15" width="15">
                </div>
            </div>
        </div>
        <!--FORMULARIO ENTREGA-->
        <div class="row" id="formulario_entrega">
            <div class="col-xs-12 center-xs">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="codigo_medicamento_1_2" id="codigo_medicamento_1_2"
                        value="{{ detalle.CODIGO_MED }}">
                    <!--<input type="hidden" name="id_receta" id="id_receta" 
                        value="{{ detalle.ID_RECETA }}">-->
                    <input type="number" id="cantidad_entrega_1_2" name="cantidad_entrega_1_2" min="1">
                    <div class="row center-xs">
                    <button class="btn" type="submit" name="boton_entrega_2" value="1">ENTREGAR</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% endif %}
{% endblock %}