{% extends 'autofarmapage/farmacia/farmacia_inicio_base.html' %}
{% load static %}

{% block titulo %}
Farmacia - Entrega de Medicamentos
{% endblock %}

{% block inicio_entregas %}
<div class="col-xs-12 col-lg-6 center-lg">                              
    <div class="button_usuario">
        <a href="{% url 'entregas-pendientes' %}"><img src="{% static 'imagenes/icono_agregar_medicamento.png' %}" alt="Prescripciones_pendientes_entrega"  height="100" width="100"></a>
        <h4>Entregas Pendientes</h4>
    </div>                                     
</div>

<div class="col-xs-12 col-lg-6 center-lg">    
    <div class="button_listarusuarios">
        <a href="#"><img src="{% static 'imagenes/icono_listar_medicamento.png' %}" alt="Reservas_Medicamentos"  height="100" width="100"></a>
         <h4>Medicamentos Reservados</h4>
    </div>                      
</div>

<div class="col-xs-12 col-lg-12">                                                       
    <div class="button_listarinformes">
        <a href="#"><img src="{% static 'imagenes/icono-listar_informes.png' %}" alt="Prescipciones_por_pacientes" height="100" width="100"></img></a>
        <h4 id="h4listarinformes">Pacientes con Prescripciones Pendientes</h4>
    </div>           
</div> 
{% endblock %}