{% load static%}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Enlace css-->
        <link rel="stylesheet" href="{% static 'css/estiloListarUsuario.css' %}">
        <!--Enlace flexbox-->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">

        <!--  Enlace a fuentes-->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">


        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Listar Usuario</title>

    </head>
    
    <body>
        <div class="container">
            <header class="row backgroundheader">
                <div class="col-xs-12 col-lg-12">
                    <div class="header">
                        <div class="col-xs-12 end-xs">
                            <a href="{% url 'homeadmi' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                            <p>{{ user.rut.id_centro.nombre_centro }}</p>
                            <div class="col-xs-12 star-xs">
                                <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="row section">
                <div class="col-xs-12 col-md-2 col-lg-2 star-large backgroundleftside">
                    <div class="sideleft">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_usuario">
                                    <a href="{% url 'agregar-usuario' %}"><img
                                            src="{% static 'imagenes/agregarUsuario.png' %}"
                                            alt="agregar_Usuario" height="60"
                                            width="60"></a>
                                    <h4>Crear Usuario</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarusuarios">
                                    <a href="{% url 'listar-usuario' %}"><img
                                            src="{% static 'imagenes/listarusuarios.png' %}"
                                            alt="lstar_usuario" height="60"
                                            width="60"></a>
                                    <h4>Listar Usuarios</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarinformes">
                                    <a href="{% url 'listar-informe' %}"><img
                                            src="{% static 'imagenes/listarInformes.png' %}"
                                            alt="listar_informes" height="60"
                                            width="60"></a>
                                    <h4>Listar Informes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- seccion lista-->

                <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
                    <div class="sideright">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                <h4 id="encabezadoform">DESHABILITAR USUARIO:</h4>
                            </div>
                        </div>

                        <!--Formulario-->
                     
                                       <div class="row">
                                           <div class="col-xs-12 col-lg-12 center-xs">
                                               <div class="backgroundCard"> 
                                                    <!--formulario deshabilitar-->     
                                        <form  class="deshabilitar" method="POST" action="#">
                                            {% csrf_token %}
                                    
                                            <div class="row">
       
                                               <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                                   {%for n in persona%}
                                                   <p>Deshabilitar Usuario: {{n.nombres}} {{n.apellido_paterno}}</p>

                                                   {%endfor%}
                                                   <h6>rut usuario:</h6>
                                                   {%for i in persona%}
                                                   <input type="text"
                                                       class="inputCard"
                                                       id="inputrut"
                                                       name="rutUsuario" required readonly
                                                       placeholder="Rut usuario" value="{{i.rut}}">
                                                       {% endfor %}
                                               </div>
       
                                               <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                                   <br>
                                                   <h6>Opción:</h6>
                                                   <select required name="opcion">
                                                       <option></option>
                                                       <option value="0">Deshabilitar</option>
                                                       <option value="1">Habilitar</option>
                                                   </select>

                                                   
                                               </div>

                                               <div class="row center-xs mensajes">
                                                {% if messages %}
                                                <ul>
                                                    {% for message in messages %} 
                                                    <li class="{{ message.tags }}">{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                </div>
       
                                               <div class="col-xs-12 col-md-12 col-lg-12 end-xs">
                                                   <button class="buttonDeshabilitar" value="deshabilitar">ENVIAR</button>
                                               </div>
       
                                            </div>
                                           
                                           </form>
                                               </div>
                                           </div>
                                       </div>
                    

                   
                    </div>
                </div>
            </section>
        </div>

        
    </body>
</html>