{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Enlace flexbox-->
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <!--Enlace css-->
    <link rel="stylesheet" href="{% static 'css/styleMedico.css' %}">
    <!--Enlaces fonts-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">

    <title>Autofarma - Home Médico</title>
</head>

<body>
    <div class="container">
        <header class="row backgroundheader-home">
            <div class="col-xs-12 col-lg-12">
                <div class="header">
                    <div>
                        <img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="60"
                            width="300">
                    </div>
                </div>
            </div>
        </header>
        <section class="row">
            <!-- Barra horizontal con Nombre usuario y logo -->
            <div class="home-medico col-xs-12 col-lg-2 start-lg">
                <div class="b-lateral">
                    <img src="{% static 'imagenes/User-Profile.png' %}" alt="LogoUsuario" width="90" height="90">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 center-xs">
                            <h4 id="encabezado1"> {{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 center-xs">
                            <h4 id="parrafo1">{{ user.id_tipo_empleado.tipo_empleado|upper }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 center-xs centro-salud">
                            <p>{{ user.rut.id_centro.nombre_centro|upper }}</p>
                        </div>
                    </div>
                    <div class="row cambiar-pass">
                        <div class="col-xs-12 col-lg-12 center-xs">
                            <a class="linea" href="{% url 'password_change' %}">Cambiar contraseña</a>
                        </div>
                    </div>
                    <div class="row cerrar">
                        <div class="col-xs-12 col-lg-12 center-xs">

                            <a href="/logout"><img class="img-perfil" src="{% static 'imagenes/Close1.png' %}"
                                    alt="cerrar_Sesion" height="auto" width="150"></a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Menú principal home-->
            <div class="col-xs-12 col-lg-10 center-xs menu">
                <div class="home-opciones">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 center-lg">
                            <div class="b-crear-receta">
                                <a href="{% url 'crear-receta' %}">
                                    <img src="{% static 'imagenes/crear-receta.png' %}" alt="crear receta" height="100"
                                        width="100"></img>
                                </a>
                                <h4>Crear receta</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 center-lg">
                            <div class="b-agregar-paciente">
                                <a href="{% url 'agregar-paciente' %}">
                                    <img src="{% static 'imagenes/icono-agregar_usuario.png' %}" alt="agregar paciente"
                                        height="100" width="100">
                                </a>
                                <h4>Agregar paciente</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 center-lg">
                            <div class="b-asignar-tutor">
                                <a href="{% url 'registrar-tutor' %}">
                                    <img src="{% static 'imagenes/asignar-tutor.png' %}" alt="asignar tutor"
                                        height="100" width="100"></img>
                                </a>
                                <h4>Registrar tutor</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 center-lg">
                            <div class="b-ver-recetas">
                                <a href="{% url 'ver-recetas' %}">
                                    <img src="{% static 'imagenes/ver-recetas.png' %}" alt="ver recetas" height="100"
                                        width="100"></img>
                                </a>
                                <h4>Ver recetas</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN Menú lateral-->

        </section>
    </div>
</body>

</html>