{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Enlace flexbox-->
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <!--Enlace css-->
    <link rel="stylesheet" href="{% static 'css/styleindex.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!--Enlaces fonts-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">

    <!--Script Validar Rut-->
    <script src="{% static 'js/validarRut.js' %}"></script>

    <title>AutoFarma</title>
</head>


<body>
    <header>
        <a href="#"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logo Autofarma" height="auto"
                width="350"></a>
        <nav>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#ingresar">Ingresar</a></li>
            <li><a href="#usuarios">Perfiles</a></li>
            <li><a href="#movil">App móvil</a></li>
        </nav>
    </header>

    <section class="banner-area" id="inicio">
        <div class="banner-img"> </div>
        <h1>Software Autofarma</h1>
        <h3>"Gestión y control de Medicamentos CESFAM”</h3>
        <a href="#ingresar" class="banner-btn">INICIAR SESIÓN</a>
    </section>

    <section class="ingresar-area" id="ingresar">
        <div class="iniciar-area">
            <div class="logeo-area">
                <img class="logeo-img" src="{% static 'imagenes/Medicamentos.png' %}" alt="imagen medicamentos"
                    width="auto" height="350">
            </div>
            <div class="logeo-area">
                <h1>Ingresar a Autofarma</h1>
                <h3>Ingresa tus datos para ingresar al sistema</h3>

                <form id="formulario-logeo" method="POST" class="formulariologeo">
                    {% csrf_token %}
                    <input id='rut' class="intputs" type="text" name="rut" required maxlength="12" placeholder="Usuario"
                        oninput="checkRut(this)" onkeypress="return isNumber(event)">
                    <input class="intputs" type="password" id="password" name="password" minlength="4"
                        placeholder="Contraseña">
                    <div class="logeo-opcion">
                        <span class="olvidaste"><a class="enlace" href="#" target="_blank"> ¿Olvidaste tu contraseña?
                            </a>
                        </span>
                        <button class="btn">
                            INGRESAR<i class="fas fa-sign-in-alt" style="font-size:18px;"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="perfiles-area" id="usuarios">
        <h1> Perfiles de usuario Sistema Web </h1>
        <ul class="perfiles">
            <li>
                <i class='fas fa-user-cog'></i>

                <h3>Administrador</h3>
                <p> Puede realizar tareas relacionadas a la administración de usuarios del sistema e informes
                    relacionados al stock y reserva de medicamentos </p>
            </li>
            <li>
                <i class="fas fa-user-nurse"></i>

                <h3>Farmacia</h3>
                <p> Es quien tiene acceso a realizar tareas pertinentes a farmacia, es decir, la gestión, stock y
                    reserva de medicamentos </p>
            </li>
            <li>
                <i class="fas fa-user-md"></i>
                <h3>Médico</h3>
                <p> Realiza acciones asociadas a agregar pacientes, hacer prescripciones en forma automatica con el
                    stock de medicamentos y ver la lista de recetas
                </p>
            </li>
        </ul>
    </section>

    <section class="movil-area" id="movil">
        <h1 class="section-title"> Aplicación móvil para los pacientes </h1>
        <ul class="movil-content">
            <li class="movil-caracteristicas">
                <i class="fas fa-bell"></i>
                <h4>Notificaciones</h4>
                <p> Llegarán notificaciones automáticas cuando un medicamento en reserva esté disponible.</p>
                <br>
                <br>
                <br>
                <i class="fas fa-pills"></i>
                <h4>Reserva de medicamentos</h4>
                <p>Ver los medicamentos que tiene en reserva para ser retirarados</p>
            </li>
            <li>
                <img src="{% static 'imagenes/celular.svg' %}" alt="imagen app celular" height=" auto" width="250">
            </li>
            <li class="movil-caracteristicas">
                <i class="fas fa-bullhorn"></i>
                <h4>Recordatorios</h4>
                <p>Recordatorio automático de la fecha límite para ir a retirar los medicamentos</p>
                <br>
                <br>
                <br>
                <i class="fas fa-file-prescription"></i>
                <h4>Listar recetas</h4>
                <p>Tener acceso a las recetas prescritas a lo largo del tiempo</p>
            </li>
        </ul>
    </section>

    <footer>

        <p> Copyright ©2020 Software AUTOFARMA. Hecho por Carlos Bastias, Karina Moreira y Fabrizio Rojas. </p>

    </footer>
</body>

</html>