{% load static%}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Enlace css-->
        <link rel="stylesheet" href="{% static 'css/estiloListarUsuario.css' %}">
        <!--Enlace flexbox-->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">

        <!--  Enlace a fuentes-->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">


        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Listar Usuario</title>

    </head>
    
    <body>
        <div class="container">
            <header class="row backgroundheader">
                <div class="col-xs-12 col-lg-12" >
                   <div class="header"> 
                       <div class="col-xs-12 end-xs">
                            <a href="{% url 'homeadmi' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                            <p>{{ user.rut.id_centro.nombre_centro }}</p>
                            <div class="col-xs-12 star-xs">
                                <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                            </div>
                       </div>
                   </div>
                </div>
            </header>

            <section class="row section">
                <div class="col-xs-12 col-md-2 col-lg-2 star-large backgroundleftside">
                    <div class="sideleft">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_usuario">
                                    <a href="{% url 'agregar-usuario' %}"><img
                                            src="{% static 'imagenes/agregarUsuario.png' %}"
                                            alt="agregar_Usuario" height="60"
                                            width="60"></a>
                                    <h4>Crear Usuario</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarusuarios">
                                    <a href="{% url 'listar-usuario' %}"><img
                                            src="{% static 'imagenes/listarusuarios.png' %}"
                                            alt="lstar_usuario" height="60"
                                            width="60"></a>
                                    <h4>Listar Usuarios</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarinformes">
                                    <a href="{% url 'listar-informe' %}"><img
                                            src="{% static 'imagenes/listarInformes.png' %}"
                                            alt="listar_informes" height="60"
                                            width="60"></a>
                                    <h4>Informes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- seccion lista-->

                <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
                    <div class="sideright">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                <h4 id="encabezadoform">LISTADO DE USUARIOS</h4>
                            </div>
                        </div>

                        <!--CAMPO BUSCAR-->

                        <form id="formulario-buscar" method="GET" action="#" class="formulariobuscar">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-lg-6 end-xs">
                                    <input class="intputs" type="search" value=" {{ request.GET.q }}"
                                        name="q" required placeholder="Buscar por rut">
                                </div>
                                <button class="buttonBuscar" name="submit" type="submit" value="Search">
                                    <img src="{% static 'imagenes/search.png' %}"
                                    alt="search-listar" height="30"
                                    width="30">
                                </button>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 center-xs">

                                {% if person %}
                                {% for i in person %}

                                <div class="backgroundCard" id="{{ i.rut }}">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                            <input class="inputCard"
                                                disabled="true" value="{{ i.nombres }} {{ i.apellido_paterno }}"
                                                type="text" name="name" required
                                                placeholder="nombre">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                            <input class="inputCard"
                                                disabled="true" value="{{ i.rut }}" 
                                                type="text" name="rut"
                                                required placeholder="Rut">
                                            <p id="mensaje"></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-12 end-xs">
                                            <a id="edit" href="{% url 'editarPersona' i.rut %}">EDITAR</a>
                                        </div>
                                    </div>

                                    <div class="rowe" id="{{ i.rut}}">
                                        <div id="buttomIcon" class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                            <a id="arrowe"><img id="flechaimg"
                                                src="{% static 'imagenes/arrow.svg' %}"
                                                alt="lstar_usuario"
                                                height="15" width="15"></a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                                {% endif%}

                                <div class="buttomCard">
                                    <form id="formulario-card" method="POST"
                                        action="#" class="formularioCard">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                                <p>AGREGAR TUTOR</p>
                                                <h6>rut paciente:</h6>
                                                <input type="text"
                                                    class="inputCard"
                                                    id="onInput"
                                                    name="rutPaciente" required readonly
                                                    placeholder="Rut Paciente">
                                            </div>

                                            <div class="col-xs-12 col-md-6 col-lg-6 start-xs">
                                                <br>
                                                <h6>rut tutor:</h6>
                                                <input type="text"
                                                    class="inputCard"
                                                    id="onInput" name="rutTutor"
                                                    required placeholder="Rut
                                                    tutor">
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-12 col-lg-12 end-xs">
                                            <button class="buttonAddTutor">AGREGAR</button>
                                        </div>
                                    </form>
                                </div>
                                {% if person %}
                                <div class="row">
                                    <div class="col-xs-12 center-xs">
                                        <div class="col-xs-12 col-md-12 center-xs">
                                            {% if person.has_previous %}
                                            <a href="?page={{ person.previous_page_number }}">Anterior</a>
                                            {% endif %}
                                            {% if person.has_next %}
                                            <a href="?page={{ person.next_page_number }}">Siguiente</a>
                                            {% endif %} 
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script>
            $(document).ready(function() {
                var Card =$(".buttomCard"); 
            
                //$('#flechaimg').attr('src',"{% static 'imagenes/agregarUsuario.png' %}");
             
                $(".rowe").click(function(){
              
                $(Card).fadeOut('slow', function() { $(this).remove(); });
                
                $("#onInput").val('');
                var id_row = $(this).attr('id');
                $(Card).hide().insertBefore(this).fadeIn("slow");
               
                $("#onInput").val(id_row);                   
                });
            });
        </script>
    </body>
</html>