{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Enlace css-->
        <link rel="stylesheet" href="{% static 'css/estiloListarUsuario.css' %}">
        <!--Enlace flexbox-->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">

        <!--  Enlace a fuentes-->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <title>AutoFarma - Listar Medicamentos</title>
</head>

<body>
    <div class="container">
        <header class="row backgroundheader">
            <div class="col-xs-12 col-lg-12">
                <div class="header">
                    <div class="col-xs-12 end-xs">
                        <a href="{% url 'homefarma' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                        <p>{{ user.rut.id_centro.nombre_centro }}</p>
                        <div class="col-xs-12 star-xs">
                            <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="row section">
            <div class="row col-xs-12">
                <div class="col-xs-12 col-md-2 start-large backgroundleftside">
                    <div class="sideleft">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_usuario">
                                    <a href="{% url 'agregar-medicamento' %}"><img src="{% static 'imagenes/icono_agregar_medicamento_blue.png' %}" alt="agregarMedicamento"  height="60" width="60"></a>
                                    <h4>Agregar Medicamento</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarusuarios">
                                    <a href="{% url 'listar-medicamento' %}"><img src="{% static 'imagenes/icono_listar_medicamentos_blue.png' %}" alt="lstarMedicamentos"  height="60" width="60"></a>
                                    <h4>Listar Medicamentos</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarinformes">
                                    <a href="#"><img src="{% static 'imagenes/listarInformes.png' %}" alt="Informes"  height="60" width="60"></a>
                                    <h4>Informes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
                    <div class="sideright">
                        <div class="row">
                            <div class="col-xs-12 center-xs">
                                <h4 id="encabezadoform">LISTADO DE MEDICAMENTOS</h4>
                            </div>
                        </div>
                    </div>

                    <form id="formulario-buscar" method="GET" action="#" class="formulariobuscar">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6 end-xs">
                                <input class="intputs" type="search" value="{{ request.GET.q }}"
                                    name="q" required placeholder="Buscar Medicamento">
                            </div>
                            <button class="buttonBuscar" name="submit" type="submit" value="Search">
                                <img src="{% static 'imagenes/search.png' %}"
                                alt="search-listar" height="30"
                                width="30">
                            </button>
                        </div>

                        <!--<div class="col-xs-6 col-md-6 col-lg-6 start-xs">
                            <button class="buttonBuscar"><img src="{% static 'imagenes/search.png' %}"
                                    alt="search-listar" height="30"
                                    width="30">
                            </button>
                        </div>-->
                    </form>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
                            {% if stock %}
                            {% for stock in stock %}
                            <div class="backgroundCard" id="{{ stock.codigo.codigo }}">
                                <div class="row">
                                    <div class="col-xs-3 col-md-1 col-lg-1 start-xs">
                                        <!--<label for="codigo">Código</label>
                                        <input class="inputCard" readonly 
                                            type="text" value="{{ medicamentos.codigo }}"
                                            name="codigo" id="codigo" required>
                                    
                                        <input class="inputCard" readonly 
                                            type="text" value="{{ medicamentos.nombre_medicamento }}"
                                            name="nombre_medicamento" id="nombre_medicamento" required>-->
                                        <p class="labelListaMed">Código</p>
                                        <p>{{ stock.codigo.codigo }}</p>     
                                    </div>
                                    <div class="col-xs-6 col-md-6 start-xs">
                                        <p class="labelListaMed">Nombre Medicamento</p>
                                        <p>{{ stock.codigo.nombre_medicamento|upper }}</p>
                                    </div>
                                    <div class="col-xs-2 col-md-3 start-xs">
                                        <p class="labelListaMed">Stock Total</p>
                                        <p>{{ stock.stock }}</p>
                                    </div>
                                    <div class="col-xs-1 col-md-2 star-xs">
                                        <p class="labelListaMed">Caducados</p>
                                        <p>
                                            {{ stock.codigo.cad_codigo.cantidad }} 
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-md-3 start-xs">
                                        <p class="labelListaMed">Presentación</p>
                                        <p>{{ stock.codigo.id_tipo_med.nombre_tipo_med |capfirst }}</p>
                                    </div>
                                    <div class="col-xs-10 col-md-9 start-xs">
                                        <p class="labelListaMed">Descripción</p>
                                        <p>{{ stock.codigo.descripcion | capfirst }}</p>
                                    </div>
                                </div>

                                <div class="rowe" id="{{ stock.codigo.codigo }}">
                                    <div id="buttomIcon" class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                        <a id="arrowe"><img id="flechaimg"
                                            src="{% static 'imagenes/arrow.svg' %}"
                                            alt="lstar_usuario"
                                            height="15" width="15"></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="buttomCard">
                                <form class="formularioCard" id="formulario-card" action="#" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 center-xs">
                                            <p>AUMENTAR STOCK</p>
                                            <input type="hidden" id="onInput" name="codigo_medicamento">
                                            <input type="number"
                                                class="inputCard"
                                                id="onInput"
                                                name="stock_aumentar"
                                               required>
                                            <button class="btnCardMed">AUMENTAR</button>
                                        </div>
                                    </div>
                                </form>
                                <form class="formularioCard" id="formulario-card" method="POST" action="#">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 center-xs">
                                            <p>CADUCAR</p>
                                            <input type="hidden" id="onInputCaducar" name="codigo_med">
                                            <input type="number"
                                                class="inputCard"
                                                id="onInputCaducar"
                                                name="stock_caducar"
                                               required>
                                            <button class="btnCardMed" name="caducar_btn" value="caducar">CADUCAR</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if stock %}
                            <div class="row">
                                <div class="col-xs-12 center-xs">
                                    <div class="col-xs-12 col-md-12 center-xs">
                                        {% if stock.has_previous %}
                                        <a href="?page={{ medicamentos.previous_page_number }}">Anterior</a>
                                        {% endif %}
                                        {% if stock.has_next %}
                                        <a href="?page={{ medicamentos.next_page_number }}">Siguiente</a>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>  
    
    <script>
        $(document).ready(function() {
            var Card =$(".buttomCard"); 
        
            //$('#flechaimg').attr('src',"{% static 'imagenes/agregarUsuario.png' %}");
         
            $(".rowe").click(function(){
          
                $(Card).fadeOut('slow', function() { $(this).remove(); });
            
                $("#onInput").val('');
                $("#onInputCaducar").val('');
                var id_row = $(this).attr('id');
                $(Card).hide().insertBefore(this).fadeIn("slow");
           
                $("#onInput").val(id_row);
                $("#onInputCaducar").val(id_row);                   
            });
        });
    </script>
    
</body>
</html>