{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Enlace css-->
    <link rel="stylesheet"  href="{% static 'css/estiloBaseAdmi.css' %}">
    <!--Enlace flexbox-->
    <link rel="stylesheet"  href="{% static 'css/flexboxgrid.css' %}">

    <!--  Enlace a fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">

    <title>AutoFarma - Agregar Medicamento</title>
</head>

<body>
    <div class="container">

        <header class="row backgroundheader">
            <div class="col-xs-12 col-lg-12" >
               <div class="header"> 
                   <div class="col-xs-12 end-xs">
                        {% if user.id_tipo_empleado.id_tipo_empleado == 2 %}
                        <a href="{% url 'homefarma' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                        {% elif user.id_tipo_empleado.id_tipo_empleado == 3 %}
                        <a href="{% url 'homeadmi' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                        {% endif %}
                        <p>{{ user.rut.id_centro.nombre_centro }}</p>
                        <div class="col-xs-12 star-xs">
                            <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                        </div>
                   </div>
               </div>
            </div>
        </header>

        <section class="row section">
            <div class="col-xs-12 col-md-2 col-lg-2 star-large backgroundleftside">
                <div class="sideleft">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 center-lg">
                            <div class="button_usuario">
                                {% if user.id_tipo_empleado.id_tipo_empleado == 2 %}
                                <a href="{% url 'agregar-medicamento' %}"><img src="{% static 'imagenes/icono_agregar_medicamento_blue.png' %}" alt="agregarMedicamento"  height="60" width="60"></a>
                                <h4>Agregar Medicamento</h4>
                                {% elif user.id_tipo_empleado.id_tipo_empleado == 3 %}
                                <a href="{% url 'agregar-usuario' %}"><img src="{% static 'imagenes/agregarUsuario.png' %}" alt="agregar_Usuario"  height="60" width="60"></a>
                                <h4>Crear Usuario</h4>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 center-lg">
                            <div class="button_listarusuarios">
                                {% if user.id_tipo_empleado.id_tipo_empleado == 2 %}
                                <a href="{% url 'listar-medicamento' %}"><img src="{% static 'imagenes/icono_listar_medicamentos_blue.png' %}" alt="lstarMedicamentos"  height="60" width="60"></a>
                                <h4>Listar Medicamentos</h4>
                                {% elif user.id_tipo_empleado.id_tipo_empleado == 3 %}
                                <a href="{% url 'listar-usuario' %}"><img src="{% static 'imagenes/listarusuarios.png' %}" alt="lstar_usuario"  height="60" width="60"></a>
                                <h4>Listar Usuarios</h4>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 center-lg">
                            <div class="button_listarinformes">
                                {% if user.id_tipo_empleado.id_tipo_empleado == 2 %}
                                <a href="#"><img src="{% static 'imagenes/listarInformes.png' %}" alt="Informes"  height="60" width="60"></a>
                                <h4>Informes</h4>
                                {% elif user.id_tipo_empleado.id_tipo_empleado == 3 %}
                                <a href="{% url 'listar-informe' %}"><img src="{% static 'imagenes/listarInformes.png' %}" alt="Informes"  height="60" width="60"></a>
                                <h4>Informes</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
            {% block mensaje-exito-guardado %}
            {% endblock %}   
            
            {% block mensaje-exito-guardado-medicamento %}
            {% endblock %}
            
            {% block mensaje-exito-guardado-tutor %}
            {% endblock %}

            {% block mensaje-exito-modificado-usuario %}
            {% endblock %}

            </div>
        </section>
    </div>
</body>
</html>