{% extends 'autofarmapage/base_medico.html' %}
{% load static %}



{% block content %}
<!-- CONTENIDO DE LA HTML-->
<div class="contenido">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
            <h4 id="encabezadoform">Listado de recetas</h4>
        </div>
    </div>

    <!--CAMPO BUSCAR-->
    <form id="formulario-ver-receta" method="GET">
        <input class="ancho-30" type="search" name="q" value="{{ request.GET.q}}" minlength="7" maxlength="8" required
            required placeholder="Buscar por RUT sin DV" />
        <!--
        <select class="input-20-ver" name="" id="">
            <option value="" selected> Filtar por</option>
            {% for X in XY %}
            <option value="{{ campo.id_x }}" required>
                {{ X.campo }}</option>
            {% endfor %}
        </select>
        -->
        <button class="b-buscar" type="submit" name="submit" value="Search">
            <i class="fa fa-search fa-lg" style="font-size: 20px; color: #fff;"></i>
        </button>

    </form>

    <div class="ancho-70" id="main-container">
        <table>
            <thead>
                <tr>
                    <th>RUT paciente</th>
                    <th>Nombre paciente</th>
                    <th>Fecha emisión</th>
                    <th></th>
                </tr>
            </thead>
            {% if receta %}
            {% for i in receta %}
            <tr>
                <td>{{ i.rut_paciente.rut }}</td>
                <td>{{ i.rut_paciente.nombres }} {{ i.rut_paciente.apellido_paterno }}</td>
                <td>{{ i.fecha_receta }}</td>
                <td>
                    <button class="btn-x" type="button">
                        <a href="{% url 'ver-receta2' i.id_receta %}"><i class="fa fa-eye fa-lg"> </i></a>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <!-- Mensajes -->

    <div class="row center-xs input-100-s opcion-mensaje">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h4 class="mensaje">No hay recetas registradas con ese RUT. Intente con otro. </h4>


        {% endif %}
    </div>

</div>
{% endblock %}