{% extends 'autofarmapage/base_medico.html' %}
{% load static %}
{% block content %}

<div class="contenido">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
            <h4 id="encabezadoform">Información receta: {{receta.id_receta}}</h4>
        </div>
    </div>


    <div class="receta-elegida">
        <div class="receta-datos">
            <div class="receta-superior">
                <div class="receta-logo">
                    <img src="{% static 'imagenes/LOGO_azul.png' %}" alt="Logopaginablanco" height="40" width="200" />
                </div>
                <div class="receta-medico">
                    <p>{{ user.rut.id_centro.nombre_centro }}</p>
                    <h4 class="nombre-medico">Dr/Dra. {{user.rut.nombres}} {{user.rut.apellido_paterno}}
                        {{user.rut.apellido_materno}}</h4>
                    <h4>RUT: {{receta.rut_medico.rut.rut}} - {{receta.rut_medico.rut.dv}}</h4>
                </div>
            </div>
            <div class="receta-paciente">
                <div class="n-paciente">
                    <h4><b>Nombre paciente: </b> {{receta.rut_paciente.nombres}}
                        {{receta.rut_paciente.apellido_paterno}}
                        {{receta.rut_paciente.apellido_materno}}
                    </h4>
                </div>
                <div class="r-paciente">
                    <h4> <b> RUT paciente: </b> {{receta.rut_paciente.rut}} - {{receta.rut_paciente.dv}} </h4>
                </div>
                <br>
            </div>
            <div class="receta-detalle">
                <hr class="hr-receta">
                <h4 class="subtitulo-detalle"> <b>RECETA MÉDICA</b></h4>
                <hr class="hr-receta">

                <div class="receta ancho-100">
                    {%if detallereceta%}
                    {%for j in detallereceta%}
                    <li class="receta-remedios">
                        <p><b>{{j.codigo.nombre_medicamento}}</b>
                            en {{j.codigo.id_tipo_med.nombre_tipo_med}}: {{j.dosis_diaria}}
                            unidades/dosis por {{j.duracion_tratamiento}} días
                            <p>
                                <p>{{j.posologia}}</p>
                    </li>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            <div class="receta-inferior">
                <div class="receta-fecha">
                    <h4>Fecha: {{receta.fecha_receta}}</h4>
                </div>
                <div class="receta-firma">
                    <h4> Firma médico</h4>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}