{% extends 'autofarmapage/base_pass_reset.html' %}

{% block title %}¿Olvidaste tu Contraseña?{% endblock %}

{% block content %}
<div>
    <h3>¿Olvidaste tu Contraseña?</h3>
    <p>
        Ingresa tu dirección de correo electrónico y te enviaremos las instrucciones para reestablecer tu contraseña.
    </p>
</div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reestablecer Contraseña</button>
    </form>

    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}