{% extends 'autofarmapage/base_pass_reset.html' %}

{% block content %}
    <div class="sectionlogeo">
        <form class="formulariologeo" method="POST">{% csrf_token %}
            <label>Contraseña Actual:</label>
            <input name="old_password" type="password" id="id_old_password" 
                required='true'>

            <label>Nueva Contraseña:</label>
            <input name="new_password1" type="password" id="id_new_password1" required='true'>

            <label>Ingresa Nuevamente la Contraseña:</label>
            <input name="new_password2" type="password" id="in_new_password2" required='true'>

            <button type="submit">Actualizar</button>
        </form>

        <div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}