*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.backgroundheader{
    background: #68c2dc;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
p label{
    
 display: none;

}


.section{
    padding-top: 5.2rem;
}
.backgroundleftside{
    background: #b9dcf0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.backgroundrightside{
    background: #f2f5fa;
}

.button_usuario{
  
    background: #b9dcf0;
    border: #ffffff 1.3px solid;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #1290cb ;
    transition: 1s;
    

}

.button_usuario:hover{
    background: #f2f5fa;

}



.button_listarusuarios{
 
    background: #b9dcf0;
    border: #ffffff 1.3px solid;
    margin-left: 8px;
    margin-bottom: 8px;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #1290cb ;
    transition: 1s;
}

.button_listarusuarios:hover{
    background: #f2f5fa;

}

.button_listarinformes{

    background: #b9dcf0;
    border: #ffffff 1.3px solid;
    margin-left: 8px;
    margin-bottom:8px;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #1290cb ;
    transition: 1s;
}

.button_listarinformes:hover{
    background: #f2f5fa;

}

.sideright{
    color: #666666;
    
}
#encabezadoform{
    font-weight: lighter;
    padding: 55px;
    
}


input{
    border: none;
    background: #FFFFFF;
    width: 400px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #666666;
}

select{

    border: none;
    background: #FFFFFF;
    width: 400px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #666666;
    color: #666666;

}

option.select{
    color: #666666;
}
button{
    border: none;
    background: #1290cb;
    height: 35px;
    width: 150px;
    color: #FFFFFF;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    transition: 1s;
    margin-bottom: 55px;
    
    

}

button:hover{
    border: #1290cb 5px solid;
    background: #F2F5FA;
    color: #1290cb;
    width: 150px;
}


@media(max-width:1080px){


    .button_usuario{
  
      
        padding-left: 5px; 
    }

    .button_listarusuarios{
        padding-left: 5px;
    }
    .button_listarinformes{
        padding-left: 5px;
    }
        
    

}